<header id="HEADER" class="max-w-[75%] mx-auto flex items-center justify-between py-4 px-6 md:px-12 bg-transparent md:bg-[#13131E] md:rounded-full mt-5">
    <a href="/">
        <img src="/DisbeltoIcon.svg" alt="Disbelto Agency" class="h-8 w-8 md:h-8 md:w-8 object-contain"/>
    </a>

    <nav class="hidden md:flex items-center gap-8 flex-grow justify-end text-xl">
        <a href="/portfolio" class="hover:text-[#93FF57] transition">PORTFOLIO</a>
        <a href="/servicios" class="hover:text-[#93FF57] transition">SERVICIOS</a>
        <a href="/nosotros" class="hover:text-[#93FF57] transition">NOSOTROS</a>
        <a href="/contacto" class="hover:text-[#93FF57] transition">CONTACTO</a>
        <a href="/empezar" class="bg-white text-[#13131E] py-1 px-6 rounded-full shadow-md font-medium -mr-9 hover:bg-gradient-to-tl from-[#93FF57] via-[#FFACE4] to-[#93FF57]">EMPEZAR</a>
    </nav>


<button id="menu-btn" class="md:hidden w-10 h-10 flex items-center justify-center bg-white text-[#13131E] rounded-full shadow-md">
    <span class="text-xl">+</span>
</button>

<div id="mobile-menu" class="hidden absolute z-1 top-20 left-0 w-full bg-[#13131E]/60 backdrop-blur-md p-6 px-8 gap-4 rounded-xl border border-white md:hidden">
    <a href="/portfolio" class="py-3 block text-white border-b border-white">PORTFOLIO</a>
    <a href="/servicios" class="py-3 block text-white border-b border-white">SERVICIOS</a>  
    <a href="/nosotros" class="py-3 block text-white border-b border-white">NOSOTROS</a>
    <a href="/contacto" class="py-3 block text-white">CONTACTO</a>
</div>
</header>

<script>
    document.addEventListener('DOMContentLoaded', () => {
        const menuBtn = document.getElementById('menu-btn');
        const mobileMenu = document.getElementById('mobile-menu');
    
        if (!menuBtn || !mobileMenu) {
            console.error("No se encontró el botón o el menú móvil.");
            return;
        }
    
        menuBtn.addEventListener('click', () => {
            mobileMenu.classList.toggle('hidden');
        });
    });
    </script>


